[data-testid="stSidebar"] {             /* Sidebar auf linker Seite */
    background-color: #d0f0c0;
}

[data-testid="stHeader"] {              /* Oberster Balken der Seite */
    background-color: #d0f0c0;
}


[data-testid="stToolbar"] {             /* Hamburger Menu oben links */
    background-color: #d0f0c0;
}

[data-testid="stAppViewContainer"] {    /* Hintergrund */
    background-color: #f0fff0;
}

[data-testid="stMarkdownContainer"] {   /* Titel und Text von Plots*/
}

[data-testid="stDataFrameResizable"] {  /* Dataframe, nur sichtbar beim laden */
    background-color: white;
}

[data-testid="stMetricValue"] {  /*  */
    background-color: #d0f0c0;
    padding: 3% 3% 3% 12.5%;
    border-radius: 5px;
    }

[data-testid="stMetricLabel"] {  /*  */
    background-color: #d0f0c0;
    padding: 3% 3% 3% 12.5%;
    border-radius: 5px;
}

.stSlider {                             /* Usereingabe des Sliders */
    background-color: #ace1af;
}

.stDateInput {
    background-color: #ace1af;
}

.stCheckbox {
    background-color: #ace1af;
}
