[data-testid="stSidebar"] {             /* Sidebar auf linker Seite */
    background-color: LightCoral;
}

[data-testid="stHeader"] {              /* Oberster Balken der Seite */
    background-color: LightCoral;
}


[data-testid="stToolbar"] {             /* Hamburger Menu oben links */
    background-color: LightCoral;
}

[data-testid="stAppViewContainer"] {    /* Hintergrund */
    background-color: #997a8d;
    Background-image: url(https://pngimg.com/uploads/coronavirus/coronavirus_PNG46.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 1475px 120px;
}

[data-testid="stMarkdownContainer"] {   /* Titel und Text von Plots*/
}

[data-testid="stDataFrameResizable"] {  /* Dataframe, nur sichtbar beim laden */
    background-color: white;
}

[data-testid="stMetricValue"] {  /*  */
    background-color: #9a4eae;
    padding: 3% 3% 3% 12.5%;
    border-radius: 5px;
    }

[data-testid="stMetricLabel"] {  /*  */
    background-color: #9a4eae;
    padding: 3% 3% 3% 12.5%;
    border-radius: 5px;
}

.stSlider {                             /* Usereingabe des Sliders */
    background-color: LightSalmon;
}

.stDateInput {
    background-color: LightCoral
}

.stCheckbox {
    background-color: LightSalmon
}
